﻿
@{
    ViewBag.Title = "ShowProfile";
}

<img src="@ViewData["cover"].ToString()" />

<h2>Witaj @ViewData["name"].ToString()</h2>
<img src="@ViewData["photoUrl"].ToString()" />

<p>Twój identyfikator to: @ViewData["id"].ToString();</p>



